<%= form_for(category_tag) do |f| %>
  <% if category_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category_tag.errors.count, "error") %> prohibited this category_tag from being saved:</h2>

      <ul>
      <% category_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
